config/

*.mp4
*.mov
*.exe

# Sécurité : NE JAMAIS SUPPRIMER CES LIGNES
config/aws.env
.env
*.env

# Environnement virtuel et Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.ipynb_checkpoints/

