config/

*.mp4
*.mov

# Sécurité : NE JAMAIS SUPPRIMER CES LIGNES
config/aws.env
.env
*.env

# Environnement virtuel et Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.ipynb_checkpoints/

# Traces MLflow locales
mlruns/

# Base MLflow locale
*.db
mlflow.dbListe_de_Projets_Fullstack/
