AWS_ACCESS_KEY_ID=ta_clé_ici
AWS_SECRET_ACCESS_KEY=ta_clé_secrète_ici
S3_BUCKET_NAME=nom_de_ton_bucket
AWS_REGION=eu-west-3

RDS_USERNAME=admin
RDS_PASSWORD=ton_mot_de_passe
RDS_HOSTNAME=ton-instance.xxxx.eu-west-3.rds.amazonaws.com
RDS_PORT=5432
RDS_DB_NAME=postgres